<app-header></app-header>
<main role="main">
  <div class="container">
    <div class="row margin-bottom-5">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Brand Alerts</h6><hr>
            <p class="card-text" style="height: 105px; font-size: 13px;">Search news for mentions of your brand name and enrich the results with information provided by Watson’s Discovery Service. Be at the forefront of the market by tracking you brand in the news.</p>
            <a href="#" class="card-link" [routerLink]="['/track', 'brand-alerts']">Track</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Product Alerts</h6><hr>
            <p class="card-text" style="height: 105px; font-size: 13px;">During a product’s life-cycle, monitor the news for mentions of the product and receive enriched information from Watson on how the product is doing in the news. Watch for early indicators of how a product in performing by tracking it in the news.</p>
            <a href="#" class="card-link" [routerLink]="['/track', 'product-alerts']">Track</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Related Brands</h6><hr>
            <p class="card-text" style="height: 105px; font-size: 13px;">Receiving timely updates on competitive brands open new business avenues to investigate. Receive insight on how their new products are being received in the news and use the information to drive business change.</p>
            <a href="#" class="card-link" [routerLink]="['/track', 'related-brands']">Track</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-bottom-5">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Positive Product Alerts</h6><hr>
            <p class="card-text" style="height: 105px; font-size: 13px;">Knowing when a product is succeeding drives further improvements. Keeping track of positive news articles about a product with enriched details from Watson give the insight required to push a products success.</p>
            <a href="#" class="card-link" [routerLink]="['/track', 'positive-product-alerts']">Track</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Stock Alerts</h6><hr>
            <p class="card-text" style="height: 105px; font-size: 13px;">Markets change quickly when news breaks, using Watson you can keep track of early warning signs of your stocks being upgraded or downgraded by experts.</p>
            <a href="#" class="card-link" [routerLink]="['/track', 'stock-alerts']">Track</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Extra Alerts</h6><hr>
            <p class="card-text" style="height: 105px; font-size: 13px;">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link" [routerLink]="['/track', 'extra-alerts']">Track</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
